@charset "UTF-8";

*{margin: 0;padding: 0;
box-sizing: border-box;}

.container{
  border: 2px solid #000;
  background-color: cyan;
  display: flex;

}

.container .item{
  border: 2px solid #866666;
  background-color: rgb(43, 156, 58);
}



.container .item:nth-child(1){
  order: 3;
}
.container .item:nth-child(2){
  order: 1;
}
.container .item:nth-child(3){
  order: 2;
}